<div class="container">
   <div class="card card-padding">
      <div style="line-height: 35px">
         <label class="list-title"> Lista de Usuarios</label>
         <button
            mat-flat-button
            (click)="createUser()"
            style="float: right; background: var(--azul); color: #fff"
         >
            Adicionar Usuario
         </button>
      </div>
      <hr />
      <div>
         <table class="table">
            <thead>
               <tr>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Email</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let user of users" (click)="openDetails(user)">
                  <td style="width: 35%">
                     <label>{{ user.name }}</label>
                  </td>
                  <td style="width: 30%">
                     <label>{{ user.cpf }}</label>
                  </td>
                  <td style="width: 35%">
                     <label>{{ user.email }}</label>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
