<div class="container-padding">
   <div class="register-task">
      <form [formGroup]="task">
         <h2>Cadastro de Tarefa</h2>
         <hr />
         <div>
            <mat-form-field class="inputComponente" appearance="none">
               <mat-label>Título</mat-label>
               <input matInput formControlName="title" id="title" required />
            </mat-form-field>
         </div>
         <div class="divSelectComponente">
            <mat-form-field class="autoCompleteComponente" appearance="none">
               <mat-label>Responsavel</mat-label>
               <input
                  type="text"
                  placeholder="Pick one"
                  matInput
                  formControlName="responsible"
                  [matAutocomplete]="auto"
               />
               <mat-autocomplete
                  autoActiveFirstOption
                  #auto="matAutocomplete"
                  [displayWith]="getOptionText"
               >
                  <mat-option *ngFor="let user of users" [value]="user">
                     {{ user.name }}
                  </mat-option>
               </mat-autocomplete>
            </mat-form-field>
         </div>
         <div class="divSelectComponente">
            <mat-form-field class="selectComponente" appearance="none">
               <mat-label class="labelSelect">Status</mat-label>
               <mat-select formControlName="status" name="status" required>
                  <mat-option
                     *ngFor="let option of optionsStatus"
                     [value]="option.codigo"
                  >
                     {{ option.descricao }}
                  </mat-option>
               </mat-select>
            </mat-form-field>
         </div>
         <div class="description">
            <angular-editor
               formControlName="description"
               [config]="editorConfig"
            ></angular-editor>
         </div>
         <button
            mat-flat-button
            color="primary"
            (click)="createTask()"
            [disabled]="task.invalid"
         >
            Adicionar Tarefa
         </button>
      </form>
   </div>
</div>
