.register-task {
   vertical-align: top;
   width: 70%;
   height: 50%;
   margin: 0 auto;
}

.container-padding {
   padding: 10px;
}

.divSelectComponente {
   .selectComponente .labelSelect {
      font-family: Roboto, Arial, Helvetica, sans-serif !important;
      font-size: 14px;
   }

   .mat-select-value-text {
      * {
         font-family: Roboto, Arial, Helvetica, sans-serif !important;
      }
   }

   .mat-input-element:disabled {
      color: #758391 !important;
   }

   .selectComponente {
      width: 30%;
      height: 38px;
      font-size: 14px;
      margin-top: 10px;
   }

   .autoCompleteComponente {
      width: 30%;
      height: 38px;
      font-size: 14px;
   }
}

.register-task input {
   font-family: 'Roboto', sans-serif;
   width: 100%;
   border: 1px solid gray;
   border-radius: 5px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
}

.register-task mat-select {
   font-family: 'Roboto', sans-serif;
   width: 100%;
   border: 1px solid gray;
   border-radius: 5px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
}

.mat-select-panel {
   margin-top: 20px;
}

.inputComponente {
   width: 100%;
}

.description {
   margin-top: 20px;
   margin-bottom: 20px;
}

mat-label {
   padding: 5px;
}
