.activityList {
   display: flex;
   flex-direction: column;
   border: 1px solid #e6e6e6;
   border-radius: 4px;
   margin-top: 0.9rem;

   .activityHeader {
      display: flex;
      border-bottom: 1px solid #e6e6e6;
      padding: 0.9rem;
      flex-direction: column;
   }

   .activityDescription {
      padding: 0.9rem;
      max-height: 200px;
      overflow-y: auto;
      word-break: break-word;
   }
}

form .form-group {
   margin-bottom: 10px;
}
